<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/ckeditor5-build-classic/ckeditor.js"></script>
    <title>上交作业</title>
</head>
<style>
    body{
        width: 1200px;
        height: 800px;
        margin: auto;
    }
    .con{
        margin: auto;
        padding-top: 70px;
    }

</style>
<body>
    <div class="con">
        <div style="width:1000px;font-size: 18px;text-align: left;margin: auto">
            班级:<span class="input-small uneditable-input" id="class">{{ results.class }}</span>
            姓名:<span class="input-small uneditable-input" id="name">{{ results.name }}</span>
            学号:<span class="input-medium uneditable-input" id="userid">{{ results.userid }}</span>
            日期:<span class="input-medium uneditable-input" id="time">年月日</span>
        </div>
        <div style="width:1000px;font-size: 18px;text-align: left;margin: auto">
        标题:<input type="text" id="title" value="标题"><button class="btn btn-success" id="confime" style="float: right">上交</button>
        </div>
        <div  style="width: 1000px;height: 600px;margin: auto">
            <textarea name="content" id="editor" id="content"></textarea>
        </div>
    </div>
</body>
<script>
    let myDate = new Date();
    let year = myDate.getFullYear();
    let month = myDate.getMonth()+1;
    let date = myDate.getDate();
    let timestr = year+"年"+month+"月"+date+"日"
    let time = document.querySelector("#time")
    time.innerText=timestr

    let editor;
    ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .then( newEditor => {
            editor = newEditor;
        } )
        .catch( error => {
            console.error( error );
        } );
    document.querySelector( '#confime' ).addEventListener( 'click', () => {
        let content = editor.getData();
        let title = document.querySelector("#title").value
        let userid = document.querySelector("#userid").innerHTML
        let name = document.querySelector("#name").innerHTML
        let time =  document.querySelector("#time").innerHTML
        let clas =  document.querySelector("#class").innerHTML
        var ajax = new XMLHttpRequest();
        ajax.onload = function (ev) {
            if (ajax.response == "ok") {
                window.location.href = '/success';
            }
            else {
                window.location.href = '/error';
            }
        };
        ajax.open("get", "/homeworkSet/addHomework?userid="+userid+"&name="+name+"&title="+title+"&uptime="+time+"&text="+content+"&clas="+clas);
        ajax.send();
    } );

</script>
</html>